<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
    </NavigationButton>
    <Label class="action-bar-title" [text]="customer.Name" horizontalAlignment="center"></Label>
    <ActionItem ios.position="right" android.position="right" (tap)="onEditButtonTap()">
        <Label text="Edit" class="action-item"></Label>
    </ActionItem>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <GridLayout rows="auto, auto, auto">
            <StackLayout row="1" class="hr-light m-t-15 m-b-15"></StackLayout>

            <GridLayout row="2" rows="*,*,*,*,*,*,*,*,*" columns="auto, auto">

                <Label text="CustNum" class="p-l-15 p-b-10 m-r-20 text-secondary" row="1"></Label>
                <Label [text]="customer.CustNum" row="1" col="1" class="text p-b-10"></Label>

                <Label text="Name" class="p-l-15 p-b-10 m-r-20 text-secondary" row="2"></Label>
                <Label [text]="customer.Name" row="2" col="1" class="text p-b-10"></Label>

                <Label text="Address" class="p-l-15 p-b-10 m-r-20 text-secondary" row="3"></Label>
                <Label [text]="customer.Address" row="3" col="1" class="text p-b-10"></Label>

                <Label text="State" class="p-l-15 m-r-20 p-b-10 text-secondary" row="4"></Label>
                <Label [text]="customer.State" row="4" col="1" class="text p-b-10"></Label>

                <Label text="Country" class="p-l-15 p-b-10 m-r-20 text-secondary" row="5"></Label>
                <Label [text]="customer.Country" row="5" col="1" class="text p-b-10"></Label>

                <Label text="Salesrep" class="p-l-15 p-b-10 m-r-20 text-secondary" row="6"></Label>
                <Label [text]="customer.SalesRep" row="6" col="1" class="text p-b-10"></Label>

                <Label text="CreditLimit" class="p-l-15 p-b-10 m-r-20 text-secondary" row="7"></Label>
                <Label [text]="customer.CreditLimit" row="7" col="1" class="text p-b-10"></Label>

                <Label text="Balance" class="p-l-15 p-b-10 m-r-20 text-secondary" row="8"></Label>
                <Label [text]="customer.Balance" row="8" col="1" class="text p-b-10"></Label>
            </GridLayout>
        </GridLayout>
    </ScrollView>
</GridLayout>